.app__popupbasecomponent{
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    background: rgba(255, 255, 255, 0.68);
    backdrop-filter: blur(13px);
    width: 70%;
    padding: 1rem 2rem;
    height: 590px;
    z-index: 10000;
    animation-name: scaleUp;
    animation-duration: 0.9s;
    animation-timing-function: linear;
}

@keyframes scaleUp {
0% {
  transform: translateX(-50%) scale(0);
}
80% {
  transform: translateX(-50%) scale(1);
}
90%{
    transform: translateX(-50%) scale(1.1);
}
}


.app__popupbasecomponent-titlepannel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.app__popupbasecomponent-titlepannel p{
    font-size: 22px;
    font-family: var(--font-poppins);
    font-weight: 700;
}
.app__popupbasecomponent-titlepannel_right{
    display: flex;
    align-items: center;
    gap: 1rem;


}
.app__popupbasecomponent-titlepannel_right-color{
    position: relative;
}
.app__popupbasecomponent-titlepannel_right-color,
.app__popupbasecomponent-titlepannel_right-color_container div{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    
}
.app__popupbasecomponent-titlepannel_right-color_container{
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    padding: 0.6rem;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}






.app__popupbasecomponent-titlepannel_right span{
    cursor: pointer;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
}

.app__popupbasecomponent-content{
    margin-top: 1rem;
    height: 87%;
}
@media screen and (max-width:1048px) {
    .app__popupbasecomponent{
        width: 90%;

    }
}
@media screen and (max-width:768px) {
    .app__popupbasecomponent{
        padding: 1rem;

    }
    
    .app__popupbasecomponent-titlepannel p{
        font-size: 18px;
    }
    .app__popupbasecomponent-titlepannel_right{
        gap: 10px;
    }

    .app__popupbasecomponent-titlepannel_right-color,
    .app__popupbasecomponent-titlepannel_right-color_container div{
        width: 25px;
        height: 25px;
        border-radius: 7px;
        
    }
    .app__popupbasecomponent-titlepannel_right-color_container{
        left: 30%;
        width: 150px;
        padding: 0.6rem;
        gap: 10px;
    }
    
    .app__popupbasecomponent-titlepannel_right span{
        font-size: 35px;
    }
    
    .app__popupbasecomponent-content{
        margin-top: 1rem;
        height: 87%;
    }
}